[package]
authors = ["Yoshua Wuyts <yoshuawuyts@gmail.com>"]
description = "Continuously read,write to disk, using random offsets and lengths"
documentation = "https://docs.rs/random-access-disk"
license = "MIT OR Apache-2.0"
name = "random-access-disk"
readme = "README.md"
repository = "https://github.com/datrs/random-access-disk"
version = "0.8.0"

[dependencies]
failure = "0.1.3"
mkdirp = "1.0.0"
random-access-storage = "2.0.0"

[dev-dependencies]
quickcheck = "0.8.3"
rand = "0.6.5"
tempfile = "3.0.8"
