[package]
name = "random-access-disk"
version = "0.0.1"
license = "Apache-2.0"
repository = "https://github.com/datrs/random-access-disk"
documentation = "https://docs.rs/random-access-disk"
description = "Continuously read,write to disk, using random offsets and lengths"
authors = ["Yoshua Wuyts <yoshuawuyts@gmail.com>"]

[dependencies]
failure = "0.1.1"
random-access-storage = "0.3.0"
mkdirp = "0.1.0"

[dev-dependencies]
tempdir = "0.3.7"
