[package]
name = "random-access-disk"
version = "0.8.0"
license = "MIT OR Apache-2.0"
repository = "https://github.com/datrs/random-access-disk"
documentation = "https://docs.rs/random-access-disk"
description = "Continuously read,write to disk, using random offsets and lengths"
authors = ["Yoshua Wuyts <yoshuawuyts@gmail.com>"]
readme = "README.md"

[dependencies]
failure = "0.1.3"
random-access-storage = "2.0.0"
mkdirp = "1.0.0"

[dev-dependencies]
quickcheck = "0.8.0"
tempfile = "3.0.4"
rand = "0.7.1"
