[package]
name = "random-access-disk"
version = "0.3.3-alpha.0"
license = "MIT OR Apache-2.0"
repository = "https://github.com/datrs/random-access-disk"
documentation = "https://docs.rs/random-access-disk"
description = "Continuously read,write to disk, using random offsets and lengths"
authors = ["Yoshua Wuyts <yoshuawuyts@gmail.com>"]
readme = "README.md"

[dependencies]
failure = "0.1.1"
random-access-storage = "0.4.0"
mkdirp = "0.1.0"

[dev-dependencies]
quickcheck = "0.6.2"
tempdir = "0.3.7"
